{{ attach_library('vloyd/vloyd.page') }}
{{ form }}
<div class="vloyd_table_wrapper">
  {% for items in cats %}
    <div class="vloyd_table">
      <div class="vloyd_name vloyd_item">{{ items.name }}</div>
      <div class="vloyd_email vloyd_item">{{ items.email }}</div>
      <a class="vloyd_image vloyd_item" target="_blank" href="{{ items.imageurl }}">{{ items.image }}</a>
      <div class="vloyd_time vloyd_item">{{ items.time }}</div>
      {% if user.hasPermission('administer nodes') %}
        <div class="edit-delete">
          {{ items.edit }}
          {{ items.delete }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
